@media screen and (min-width: 769px) and (max-width: 1190px) {
  html {
    font-size: 62.5%;
    width: 100%;
  }

  body {
    font-size: 1.6rem;
  }
  /* トップメニュー */
  .top {
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .top__tl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    width: 1170px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    box-sizing: border-box;
  }
  .top__tl--wrap {
    display: flex;
    align-items: flex-end;
  }
  .top__tl--wrap--elp--img {
    width: 128px;
    height: 45px;
  }
  .top__tl--wrap--txt {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .top__tl--btn {
    width: 312px;
    height: 40px;
    border-radius: 25px;
    background-color: #da6b64;
    padding: 14px 0;
    box-sizing: border-box;
  }
  .top__tl--btn--txt {
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
  }
  .top__tl--btn--txt--link {
    color: #ffffff;
    text-decoration: none;
  }
  .top__tl--btn--txt--small,
  .top__tl--btn--txt--small--link,
  .top__tl--wrap--small--txt,
  .top__tl--wrap--small--elp,
  .top__tl--wrap--small--elp--img {
    display: none;
  }

  /* メインビジュアル */
  .main__vsl {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .main__vsl--copy {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main__vsl--copy--top {
    font-size: 2.4rem;
    line-height: 2;
    text-align: center;
  }

  .main__vsl--copy--img {
    text-align: center;
  }
  .main__vsl--copy--img--ct {
    width: 317px;
  }

  .main__vsl--copy--btm {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 28px;
  }

  .main__vsl--dtl {
    background-color: #ebb94d;
    height: 600px;
    padding-top: 30px;
  }

  .main__vsl--dtl--cnt {
    max-width: 1028px;
    text-align: center;
    margin: 0 auto;
  }

  .main__vsl--dtl--cnt--frt {
    font-size: 1.6rem;
    color: #ffffff;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 10px;
  }

  .main__vsl--dtl--cnt--scd {
    display: inline-block;
    background-color: #f9f2f4;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 auto;
  }

  .main__vsl--dtl--cnt--scd--txt {
    font-size: 1.44rem;
    color: #c7254e;
    padding: 2px 0;
    text-align: center;
    font-weight: 600;
  }

  .main__vsl--dtl--cnt--btn {
    height: auto;
    width: 740px;
    max-width: calc(100% - 160px);
    margin: 10px auto;
    background-color: #da6b64;
    border-radius: 50px;
  }

  .main__vsl--dtl--cnt--btn--txt {
    font-size: 1.8rem;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
  }

  .main__vsl--dtl--cnt--btn--txt--link {
    color: #ffffff;
    text-decoration: none;
  }

  .main__vsl--dtl--cnt--period {
    font-size: 1.8rem;
    color: #ffffff;
    line-height: 3;
    text-align: center;
    margin-bottom: 10px;
  }

  .main__vsl--dtl--icon {
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    width: 214px;
    font-size: 1.1rem;
    margin: 0 auto;
  }

  .main__vsl--dtl--icon a {
    text-decoration: none;
    color: #ffffff;
  }

  .main__vsl--dtl--icon--twitter {
    background-color: #1b95e0;
    height: 20px;
    width: 74px;
    border-radius: 3px;
    box-sizing: border-box;
    padding-top: 4.5px;
    text-align: center;
  }

  .main__vsl--dtl--icon--thumb {
    background-color: #1877f2;
    height: 20px;
    width: 80px;
    border-radius: 3px;
    box-sizing: border-box;
    padding-top: 4.5px;
    text-align: center;
  }

  .main__vsl--dtl--icon--share {
    background-color: #1877f2;
    height: 20px;
    width: 50px;
    border-radius: 3px;
    box-sizing: border-box;
    padding-top: 4.5px;
    text-align: center;
  }
  .main__vsl--mid {
    margin: 40px auto 0;
  }
  .main__vsl--midtop {
    height: 587px;
    background-image: url(../img/introbottom.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main__vsl--midtop--cnt {
    display: flex;
    width: 860px;
    max-width: calc(100% - 40px);
    height: 100px;
    margin: 0 auto;
    position: relative;
  }
  .main__vsl--midtop--cnt--left {
    width: 50px;
    height: 50px;
    border-left: 4px solid #ebb94d;
    border-top: 4px solid #ebb94d;
    box-sizing: border-box;
    position: absolute;
    top: 0;
  }
  .main__vsl--midtop--cnt--title {
    padding-top: 36px;
    font-size: 2.8rem;
    text-align: center;
    line-height: 1.2;
    margin: 0 auto;
  }
  .main__vsl--midtop--cnt--right {
    width: 50px;
    height: 50px;
    border-right: 4px solid #ebb94d;
    border-bottom: 4px solid #ebb94d;
    box-sizing: border-box;
    position: absolute;
    top: 50px;
    right: 0;
  }

  .main__vsl--midtop--mid {
    font-size: 1.6rem;
    line-height: 1.7;
    text-align: center;
  }

  .main__vsl--midtop--mid--top {
    margin: 40px 0 24px;
  }

  .main__vsl--midtop--mid--sec {
    margin-bottom: 24px;
  }

  .main__vsl--midtop--mid--thr span {
    font-weight: 600;
    border-bottom: #ebb94d 8px solid;
  }
  .main__vsl--midbtm {
    width: 100%;
    height: 646px;
    background-color: #fef5e0;
    margin-top: -80px;
    padding-top: 80px;
  }
  .main__vsl--midbtm--circle {
    width: 80px;
    height: 80px;
    background-color: #ebb94d;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 33px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    top: -40px;
    left: 0px;
  }

  .main__vsl--midbtm--cnt {
    display: flex;
    width: 860px;
    max-width: calc(100% - 40px);
    height: 140px;
    margin: 0 auto;
    position: relative;
  }

  .main__vsl--midbtm--cnt--title {
    padding-top: 40px;
    font-size: 2.4rem;
    text-align: center;
    line-height: 1.2;
    margin: 0 auto;
  }

  .main__vsl--midbtm--cnt--right {
    width: 50px;
    height: 50px;
    border-right: 4px solid #ebb94d;
    border-bottom: 4px solid #ebb94d;
    box-sizing: border-box;
    position: absolute;
    top: 90px;
    right: 0;
  }

  .main__vsl--midbtm--copy {
    text-align: center;
    font-size: 1.6rem;
    margin: 40px auto 30px;
  }

  .main__vsl--midbtm--cnt--point {
    width: 1170px;
    max-width: calc(100% - 40px);
    height: 254px;
    background-color: #ffffff;
    border: 2px solid #ebb94d;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .main__vsl--midbtm--cnt--pointicon {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .main__vsl--midbtm--cnt--pointicon--img {
    display: inline-block;
    margin-right: 20px;
  }
}
