html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* トップメニュー */
.top {
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  position: fixed;
  z-index: 5;
}

.top__tl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 75px;
  margin: 0 auto;
  z-index: 10;
}
.top__tl--wrap {
  display: flex;
  align-items: flex-end;
}
.top__tl--wrap--elp--img {
  width: 128px;
  height: 45px;
}
.top__tl--wrap--txt {
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.top__tl--btn {
  width: 312px;
  height: 40px;
  border-radius: 25px;
  background-color: #da6b64;
  padding: 14px 0;
  box-sizing: border-box;
}
.top__tl--btn--txt {
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
}

/* メインビジュアル */
.main__vsl {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.main__vsl--copy {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__vsl--copy--top {
  font-size: 2.8rem;
  line-height: 2;
  text-align: center;
}

.main__vsl--copy--img {
  text-align: center;
}
.main__vsl--copy--img--ct {
  width: 317px;
}

.main__vsl--copy--btm {
  font-size: 2rem;
  text-align: center;
  margin-top: 28px;
}

.main__vsl--dtl {
  background-color: #ebb94d;
  height: 600px;
  padding-top: 30px;
}

.main__vsl--dtl--cnt {
  width: 1028px;
  margin: 0 auto;
}

.main__vsl--dtl--cnt--frt {
  font-size: 2rem;
  color: #ffffff;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 10px;
}

.main__vsl--dtl--cnt--scd {
  background-color: #f9f2f4;
  width: 506px;
  height: 25px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 auto;
}

.main__vsl--dtl--cnt--scd--txt {
  font-size: 1.8rem;
  color: #c7254e;
  padding-top: 3.5px;
  text-align: center;
  font-weight: 600;
}

.main__vsl--dtl--cnt--btn {
  height: auto;
  width: 1028px;
  background-color: #da6b64;
  border-radius: 50px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.main__vsl--dtl--cnt--btn--txt {
  font-size: 2.8rem;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}

.main__vsl--dtl--cnt--period {
  font-size: 2.1rem;
  color: #ffffff;
  line-height: 3;
  text-align: center;
  margin-bottom: 10px;
}

.main__vsl--dtl--icon {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  width: 214px;
  font-size: 1.1rem;
  margin: 0 auto;
}

.main__vsl--dtl--icon a {
  text-decoration: none;
  color: #ffffff;
}

.main__vsl--dtl--icon--twitter {
  background-color: #1b95e0;
  height: 20px;
  width: 74px;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 4.5px;
  text-align: center;
}

.main__vsl--dtl--icon--thumb {
  background-color: #1877f2;
  height: 20px;
  width: 80px;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 4.5px;
  text-align: center;
}

.main__vsl--dtl--icon--share {
  background-color: #1877f2;
  height: 20px;
  width: 50px;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 4.5px;
  text-align: center;
}
